@charset "UTF-8";
* {
  box-sizing: border-box;
}

body {
  font-family: var(--basic-font);
  font-style: normal;
  color: var(--basic-color);
  min-width: 320px;
}

button {
  cursor: pointer;
  border: none;
  border-radius: 4px;
}

address {
  font-style: normal;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
p {
  margin: 0;
  padding-left: 0;
}

img {
  display: block;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #1d1d1d;
}

li {
  list-style-type: none;
}

input,
textarea {
  outline: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

:root {
  --basic-font: "Roboto", sans-serif;
  --basic-font-weight: 400;
  --secondary-font-weight: 300;
  --subtitle-font-weight: 500;
  --title-font-weight: 700;
  --background-color: #fbfbfb;
  --basic-color: #1d1d1d;
}

.container {
  width: 1440px;
  padding-left: 135px;
  padding-right: 135px;
  margin: 0 auto;
}

.hero {
  width: 1440px;
  height: 900px;
  background-image: linear-gradient(135.35deg, rgba(72, 72, 72, 0.2) 22.93%, rgba(72, 72, 72, 0) 37.65%), linear-gradient(0deg, rgba(255, 255, 255, 0.12), rgba(255, 255, 255, 0.12)), url(../image/hero/hero-title-1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.hero-title {
  min-width: 1021px;
  font-weight: var(--title-font-weight);
  font-size: 128px;
  line-height: 150px;
  padding-top: 331px;
  padding-left: 100px;
  background: linear-gradient(90.96deg, rgba(150, 242, 248, 0.85) 43.11%, rgba(255, 255, 255, 0.85) 74.76%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
.hero-title .hero-title-part {
  font-size: 80px;
  line-height: 94px;
}

.header > .container {
  position: relative;
  display: flex;
  justify-content: space-around;
}

.wrap {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding-left: 135px;
  padding-right: 135px;
}

.header--wrapper {
  display: flex;
}

.header-logo--wrap {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.header-logo {
  width: 100px;
  height: 84px;
  margin-right: 30px;
}

.header-subtitle {
  max-width: 180px;
  font-weight: var(--subtitle-font-weight);
  font-size: 12px;
  line-height: 14px;
  color: #ffffff;
}

.header-partners {
  width: 125px;
  height: 12px;
}

.header-list {
  display: flex;
}

.header-item {
  font-weight: var(--title-font-weight);
  font-size: 18px;
  line-height: 21px;
}
.header-item:not(:last-child) {
  margin-right: 35px;
}

.header-link {
  color: #ffffff;
}

.our-mission {
  position: relative;
  padding-top: 111px;
  padding-bottom: 156px;
}

.our-mission-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 38px;
}

.our-mission-title {
  font-weight: var(--subtitle-font-weight);
  font-size: 52px;
  line-height: 61px;
}

.our-mission-subtitle {
  font-weight: var(--secondary-font-weight);
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.05em;
}

.our-mission-img {
  width: 1170px;
  height: 581px;
}

.projects-fp {
  position: relative;
  padding-top: 40px;
  padding-bottom: 192px;
}

.project-fp-titles-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 217px;
  margin-bottom: 38px;
}

.projects-fp-title {
  font-weight: var(--subtitle-font-weight);
  font-size: 52px;
  line-height: 61px;
}

.projects-fp-subtitle {
  font-weight: var(--secondary-font-weight);
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.05em;
}

.projects-fp-img {
  width: 967px;
  height: 507px;
}

.projects-fp-info {
  font-weight: var(--basic-font-weight);
  font-size: 16px;
  line-height: 19px;
  text-align: center;
}

.projects-fp-page-number {
  position: absolute;
  top: 0;
  right: 0;
  font-weight: var(--basic-font-weight);
  font-size: 400px;
  line-height: 469px;
  letter-spacing: 0.05em;
  color: rgba(179, 179, 179, 0.15);
  filter: blur(8px);
}

.projects-fp-info-wrap {
  position: absolute;
  left: 671px;
  top: 450px;
  padding: 72px 76px;
  width: 570px;
  height: 258px;
  background: #ffffff;
  border-width: 0px 4px 4px 0px;
  border-style: solid;
  border-color: #96f2f8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.fp-slider {
  display: flex;
}

.slider-item {
  margin-left: 20px;
  margin-top: 38px;
  display: block;
  background-color: #d1d1d1;
  width: 54px;
  height: 12px;
}
.slider-item:not(:last-child) {
  margin-right: 30px;
}

.active {
  width: 186px;
  background-color: #96f2f8;
}

.project-icon-right {
  position: absolute;
  top: 100px;
  right: 10px;
}

.project-icon-left {
  position: absolute;
  top: 100px;
  left: 10px;
}

.project-sp {
  position: relative;
  padding-top: 142px;
  padding-bottom: 192px;
}

.project-sp-subtitle {
  font-weight: var(--secondary-font-weight);
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.05em;
  margin-left: 113px;
  margin-bottom: 43px;
  color: #323232;
}

.project-sp-img {
  margin: 0 auto;
  width: 967px;
  height: 507px;
}

.project-sp-info-wrap {
  position: absolute;
  width: 570px;
  height: 258px;
  left: 135px;
  top: 450px;
  padding: 72px 114px;
  background: #ffffff;
  /* вв */
  border-width: 0px 0px 4px 4px;
  border-style: solid;
  border-color: #96f2f8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.project-sp-info {
  font-weight: var(--basic-font-weight);
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: black;
}

.projects-sp-page-number {
  position: absolute;
  width: 221px;
  height: 377px;
  left: 24px;
  top: 0px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 400px;
  line-height: 469px;
  letter-spacing: 0.05em;
  color: rgba(179, 179, 179, 0.15);
  filter: blur(8px);
}

.news {
  display: flex;
  align-items: center;
  width: 1440px;
  height: 800px;
  background-image: linear-gradient(0deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1)), linear-gradient(0deg, rgba(125, 125, 125, 0.15), rgba(125, 125, 125, 0.15)), url(.jpg), url(../image/news/news-bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.news-list {
  display: flex;
}

.news-item {
  width: 358px;
  height: 412px;
  background: #ffffff;
}
.news-item + .news-item {
  margin-left: 48px;
}

.news-title {
  font-weight: var(--subtitle-font-weight);
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  margin-top: 21px;
}

.news-pretitle {
  font-weight: var(--secondary-font-weight);
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  margin-top: 12px;
  color: #4d4d4d;
}

.news-info {
  font-weight: var(--secondary-font-weight);
  font-size: 16px;
  line-height: 19px;
  margin: 21px 8px;
}

.news-btn {
  background-color: #fff;
  width: 154px;
  height: 37px;
  font-weight: var(--subtitle-font-weight);
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  border: 1px solid rgba(29, 29, 29, 0.65);
  margin-left: 102px;
}

.region {
  padding-top: 60px;
  padding-bottom: 82px;
}

.region-title {
  font-weight: var(--subtitle-font-weight);
  font-size: 52px;
  line-height: 61px;
  margin-bottom: 87px;
}

.region-nav {
  margin-bottom: 87px;
}

.region__list {
  display: flex;
  justify-content: center;
}

.region-item__button {
  font-weight: var(--basic-font-weight);
  width: 146px;
  height: 35px;
  border-radius: 17px;
  background-color: #ebebeb;
}
.region-item__button:hover, .region-item__button:focus {
  background-color: rgba(150, 242, 248, 0.5);
}

.visited {
  background-color: rgba(150, 242, 248, 0.5);
}

.region-item:not(:last-child) {
  margin-right: 38px;
}

.region-image__list {
  display: flex;
  flex-wrap: wrap;
}

.region-image__item {
  margin-left: 67px;
}
.region-image__item:nth-child(4n+1) {
  margin-left: 90px;
}
.region-image__item:nth-child(-n+5) {
  margin-bottom: 70px;
}

.region-image {
  height: 191px;
  width: 197px;
}

.region-image__text {
  font-weight: var(--subtitle-font-weight);
  font-size: 18px;
  line-height: 21px;
  margin-top: 15px;
}

.region-overlay {
  border-radius: 17px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(150, 242, 248, 0.75);
  backdrop-filter: blur(20px);
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 300ms cubic-bezier(0.4, 0, 0.2, 1);
}
.region-overlay__hidden:hover .region-overlay, .region-overlay__hidden:focus .region-overlay {
  opacity: 1;
}

.region-overlay__info {
  color: var(--basic-color);
  position: absolute;
  left: 15%;
  right: 15%;
  top: 15%;
  font-weight: var(--basic-font-weight);
  font-size: 12px;
  line-height: 14px;
}

.region-overlay__hidden {
  position: relative;
  overflow: hidden;
}

.footer {
  background-color: rgba(128, 128, 128, 0.4901960784);
}

.footer-list__wrapper {
  display: flex;
  padding-top: 90px;
  padding-bottom: 100px;
  justify-content: space-around;
}

.footer-title {
  font-weight: var(--subtitle-font-weight);
  font-size: 14px;
  line-height: 16px;
  margin-bottom: 19px;
}

.footer-item {
  font-weight: var(--secondary-font-weight);
  font-size: 14px;
  line-height: 16px;
}
.footer-item:not(:last-child) {
  margin-bottom: 9px;
}

.button__wrapper > .footer-list {
  display: flex;
}

.bt {
  width: 40px;
  height: 40px;
  text-align: center;
  display: block;
  border: 1px solid black;
}

.btn:not(:last-child) {
  margin-right: 12px;
}

.footer-sub__mail {
  width: 169px;
  height: 22px;
  font-weight: 100;
  font-size: 12px;
  line-height: 14px;
  background-color: transparent;
  border: 1px solid rgba(29, 29, 29, 0.85);
  color: #1d1d1d;
  margin-bottom: 14px;
}
.footer-sub__mail::placeholder {
  color: #1d1d1d;
}

.footer-sub-btn {
  display: flex;
  width: 101px;
  height: 22px;
  font-weight: var(--subtitle-font-weight);
  font-size: 12px;
  line-height: 14px;
  color: #ffffff;
  background: rgba(29, 29, 29, 0.85);
  border-radius: 17px;
  justify-content: center;
  align-items: center;
}

.footer-copyright {
  display: flex;
  justify-content: center;
  font-weight: 200;
  font-size: 12px;
  line-height: 14px;
  padding-bottom: 10px;
  color: #1d1d1d;
}/*# sourceMappingURL=main.css.map */