.project-sp {
  position: relative;
  padding-top: 40px;
  padding-bottom: 192px;
  //   height: 900px;
}
.project-sp-subtitle {
  font-weight: var(--secondary-font-weight);
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.05em;
  margin-left: 160px;
  margin-bottom: 43px;
  color: #323232;
}
.project-sp-img {
  margin-left: 145px;

  width: 967px;
  height: 507px;
}
.project-sp-info-wrap {
  position: absolute;
  width: 570px;
  height: 258px;
  left: 135px;
  top: 450px;

  padding: 72px 114px;
  background: #ffffff;
  /* вв */

  border-width: 0px 0px 4px 4px;
  border-style: solid;
  border-color: #96f2f8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.project-sp-info {
  font-weight: var(--basic-font-weight);
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: black;
}
.projects-sp-page-number {
  position: absolute;
  width: 221px;
  height: 377px;
  left: 24px;
  top: -40px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 400px;
  line-height: 469px;
  letter-spacing: 0.05em;

  color: rgba(179, 179, 179, 0.15);

  filter: blur(8px);
}

.sp-slider {
  display: flex;
  flex-direction: row-reverse;
  margin-right: 80px;
}

.sp-slider > .slider-item:not(:last-child) {
  margin-left: 40px;
}

.project-sp-icon-right {
  background-color: transparent;
  position: absolute;
  bottom: 260px;
  left: 625px;
}
.project-sp-icon-left {
  background-color: transparent;

  position: absolute;
  left: 155px;
  bottom: 260px;
}
