:root {
  --basic-font: "Roboto", sans-serif;
  --basic-font-weight: 400;
  --secondary-font-weight: 300;
  --subtitle-font-weight: 500;
  --title-font-weight: 700;
  --background-color: #fbfbfb;
  --basic-color: #1d1d1d;
}
